[submodule "monero"]
	path = monero
	url = https://github.com/monero-project/monero
	ignore = all
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/dlbeer/quirc/
[submodule "xmrig"]
	path = xmrig
	url = https://github.com/xmrig/xmrig
[submodule "p2pool"]
	path = p2pool
	url = https://github.com/SChernykh/p2pool
